@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'Mont';
    font-weight: 900;
    src: url(../assets/fonts/mont_bold.woff) format("Woff"), url(../assets/fonts/mont_bold.ttf) format("TrueType");
}

$font1: 'Montserrat', sans-serif;
$font2: "Mont", sans-serif;
$title: #3D3D3D;
$black: #011520;
$backcolor: #F5F5F5;
$red: #AD2B2E;
$text: #303030;
$gray: #858585;

body {
    background-color: $backcolor;
    font-family: $font1;
    background-image: url(assets/imgs/body-decor.png);
    background-size: contain;
    background-repeat: repeat-y;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    max-width: 1180px;
    width: 100%;
}

.main-btn {
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    border: none;
    padding: 14px 15px;
    background: linear-gradient(90deg, #AD2B2E 0%, #CA1D20 100%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    border-radius: 2px;
    transition: .35s ease;
    text-align: center;
    cursor: pointer;
    &.trans {
        background: transparent;
        border: 2px solid #fff;
        &:hover {
            background: #0000002d;
        }
    }
    &:hover {
        background: linear-gradient(90deg, #AD2B2E 100%, #CA1D20 100%);
    }
}

.section-title {
    .title {
        display: block;
        width: fit-content;
        margin: 0 auto;
        text-align: center;
        font-family: $font2;
        font-weight: 950;
        font-size: 40px;
        line-height: 1.3;
        color: $title;
        a {
            color: $red;
        }
        &.left {
            margin: 0 auto;
            max-width: 1180px;
            text-align: left;
            width: 100%;
        }
        @media(max-width:1024px) {
            font-size: 32px;
        }
        @media(max-width:768px) {
            font-size: 28px;
        }
    }
}

.breadcrubms {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    a {
        color: inherit;
        margin-right: 12.5px;
        margin-bottom: 10px;
        box-sizing: border-box;
        text-decoration: none;
        position: relative;
        display: block;
        &:last-child {
            font-weight: 600;
            &::after {
                display: none;
            }
        }
        &::after {
            content: '/';
            display: inline-block;
            margin-left: 12.5px;
        }
    }
}

.mini-top {
    padding: 40px 0;
    box-sizing: border-box;
    @media(max-width:768px) {
        padding: 20px 0;
    }
}

.back-black {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    z-index: 10;
    transition: .35s ease;
    visibility: hidden;    
    &.active {
        background-color: #0000006e;
        visibility: visible;
    }
    .close-all {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        height: 30px;
        box-sizing: border-box;
        background-color: transparent;
        border: none;
        cursor: pointer;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            height: 2px;
            background-color: #fff;
            transform: rotate(45deg);
        }
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            height: 2px;
            background-color: #fff;
            transform: rotate(-45deg);
        }
        @media(max-width:560px) {
            right: 15px;
            top: 5px;
        }
    }
}