.contact-page {

    // .contact-page__body

    &__body {
        display: flex;
        align-items: flex-start;
    }

    // .contact-page__map

    &__map {
        max-width: 650px;
        margin-right: auto;
        width: 70%;
        box-sizing: border-box;
        .for-map {
            display: block;
            width: 100%;
            margin-bottom: 30px;
            img {
                max-width: 100%;
                display: block;
            }
        }
        .title {
            h2 {
                font-family: $font2;
                font-weight: 800;
                margin: 0;
                color: $title;
                display: block;
                margin-bottom: 15px;
            }
        }
        .info {
            span {
                padding-left: 20px;
                box-sizing: border-box;
                font-weight: 600;  
                font-size: 22px;
                display: block;
                margin-bottom: 10px;
                background-size: 12px;
                background-repeat: no-repeat;
                background-position: left center;
                &.map-ico {
                    background-image: url(assets/imgs/icons/map-ico.svg);
                }
                &.phone-ico {
                    background-image: url(assets/imgs/icons/phone-ico.png);
                }
                &.mail-ico {
                    background-image: url(assets/imgs/icons/email-ico.png);
                }
            }
        }
    }

    // .contact-page__form

    &__form {
        width: 50%;
        margin-left: 30px;
        max-width: 460px;
        background-color: #fff;
        box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        box-sizing: border-box;
        height: auto;
        padding: 32px 25px;
        form {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
            width: 100%;
            .action {
                display: block;
                .main-btn {
                    width: 100%;
                    max-width: none;
                }
            }
            box-sizing: border-box;
            label {
                display: block;
                width: 100%;
                margin-bottom: 8px;
                input {
                    box-sizing: border-box;
                    width: 100%;
                    padding: 14px 15px;
                    display: block;
                    background: #FAFAFA;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
                    border: none;
                }
                textarea {
                    padding: 14px 15px;
                    box-sizing: border-box;
                    width: 100%;
                    resize: none;
                    background: #FAFAFA;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
                    border: none;
                    min-height: 130px;
                }
            }
        }
        .title {
            margin-bottom: 30px;
            h3 {
                font-family: $font2;
                font-weight: 800;
                font-size: 35px;
                margin: 0;
                display: block;
                color: $title;
                line-height: 1.3;
                margin-bottom: 5px;
            }
            p {
                margin: 0;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.3;
                color: #000;
                display: block;
            }
        }
    }
}

@media(max-width:920px) {
    .contact-page {
        &__body {
            flex-direction: column-reverse;
        }
        &__form {
            margin: 0 0 30px;
            width: 100%;
        }
        &__map {
            max-width: none;
            margin: 0 0 30px;
            max-width: none;
            width: 100%;
        }
    }
}
