.top-main {
    padding: 40px 0;
    box-sizing: border-box;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    .breadcrubms {
        margin-bottom: 40px;
    }
    .section-title {
        text-align: left;
        .title {
            margin: 0;
            color: inherit;
        }
    }
}
@media(max-width:640px) {
    .top-main {
        padding: 30px 0;
        .breadcrubms {
            margin-bottom: 20px;
        }
    }
    
}